[Unit]
Description=Konnect
After=network.target
Requires=network.target

[Service]
User=user
Restart=always
Type=simple
WorkingDirectory=/home/user/konnect
ExecStart=/usr/bin/pipenv run konnectd --receiver --service --name NAS

[Install]
WantedBy=multi-user.target
