[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
isort = "*"
flake8 = "*"

[packages]
cryptography = "*"
twisted = "*"
pyopenssl = "*"
service-identity = "*"
systemd-python = "*"
requests = "*"

[requires]
python_version = "3"
